body{
    padding-top: 70px;
}
.nav-item {
    padding: 1px;
    border: black 2px groove;
    border-radius: 8px;

}

.nav-item.active,
.nav-item:hover {
    background: linear-gradient(to bottom, rgb(56, 52, 52), #FFFFFF); /* Silver to white */
    transition: all 0.5s;
}

.nav-item:hover a.nav-link {
    color: white;
    text-shadow: black 3px 3px 3px;
    transition: all 0.5s;
}

.navbar{
    width: 100%;
    background:linear-gradient(to bottom, #C0C0C0, #FFFFFF);
    box-shadow: 6px 6px 10px rgb(112, 105, 105);
}
.circle-btn {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown-menu > li {
    cursor: pointer;
}