<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
    <servlet>
        <servlet-name>ModifyStaffServlet</servlet-name>
        <servlet-class>controllers.admins.ModifyStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>controllers.admins.DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <servlet-class>controllers.admins.DeleteCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <servlet-class>controllers.staffs.SearchCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyCustomerServlet</servlet-name>
        <servlet-class>controllers.admins.ModifyCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>controllers.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>controllers.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>controllers.products.ViewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCustomerServlet</servlet-name>
        <servlet-class>controllers.staffs.ManageCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStaffServlet</servlet-name>
        <servlet-class>controllers.admins.ManageStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>controllers.products.SearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffSearchProductServlet</servlet-name>
        <servlet-class>controllers.staffs.StaffSearchProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>controllers.staffs.AddProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <servlet-class>controllers.products.AddProductToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>controllers.carts.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>controllers.CheckoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register2FAServlet</servlet-name>
        <servlet-class>controllers.Register2FAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login2FAServlet</servlet-name>
        <servlet-class>controllers.Login2FAServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModifyProductServlet</servlet-name>
        <servlet-class>controllers.staffs.ModifyProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>controllers.admins.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductServlet</servlet-name>
        <servlet-class>controllers.staffs.ManageProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffServlet</servlet-name>
        <servlet-class>controllers.admins.AddStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginStaffServlet</servlet-name>
        <servlet-class>controllers.LoginStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>controllers.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProfilePictureServlet</servlet-name>
        <servlet-class>controllers.UploadProfilePictureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveProfilePictureServlet</servlet-name>
        <servlet-class>controllers.RemoveProfilePictureServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCart</servlet-name>
        <servlet-class>controllers.carts.EditCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdminServlet</servlet-name>
        <servlet-class>controllers.LoginAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffServlet</servlet-name>
        <servlet-class>controllers.staffs.StaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStaffServlet</servlet-name>
        <servlet-class>controllers.admins.SearchStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartServlet</servlet-name>
        <servlet-class>controllers.carts.DeleteCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentReceiptServlet</servlet-name>
        <servlet-class>controllers.TransactionReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaymentCancelServlet</servlet-name>
        <servlet-class>controllers.TransactionCancelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SecurityLogServlet</servlet-name>
        <servlet-class>controllers.SecurityLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>controllers.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InternalSecurityLogServlet</servlet-name>
        <servlet-class>controllers.staffs.InternalSecurityLogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionHistoryServlet</servlet-name>
        <servlet-class>controllers.TransactionHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTransactionServlet</servlet-name>
        <servlet-class>controllers.staffs.ViewTransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalesServlet</servlet-name>
        <servlet-class>controllers.admins.SalesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionServlet</servlet-name>
        <servlet-class>controllers.TransactionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>controllers.orders.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>controllers.orders.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillingDetailsServlet</servlet-name>
        <servlet-class>controllers.BillingDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyStaffServlet</servlet-name>
        <url-pattern>/pages/superAdmin/modifyStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/pages/forgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/pages/resetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/pages/products</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/pages/products/viewProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCustomerServlet</servlet-name>
        <url-pattern>/pages/staffs/manageCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductToCartServlet</servlet-name>
        <url-pattern>/pages/products/addProductToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/pages/products/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/payments/checkout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/pages/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyProductServlet</servlet-name>
        <url-pattern>/pages/staffs/modifyProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductServlet</servlet-name>
        <url-pattern>/pages/staffs/manageProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/pages/productsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginStaffServlet</servlet-name>
        <url-pattern>/pages/staffLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/pages/profile/updateProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProfilePictureServlet</servlet-name>
        <url-pattern>/pages/profile/uploadPicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/pages/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveProfilePictureServlet</servlet-name>
        <url-pattern>/pages/profile/removePicture</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCart</servlet-name>
        <url-pattern>/pages/carts/editCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCustomerServlet</servlet-name>
        <url-pattern>/pages/staffs/searchCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/pages/staffs/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/pages/superAdmin/deleteStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomerServlet</servlet-name>
        <url-pattern>/pages/admins/deleteCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModifyCustomerServlet</servlet-name>
        <url-pattern>/pages/admins/modifyCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStaffServlet</servlet-name>
        <url-pattern>/pages/admins/manageStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/pages/admins/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdminServlet</servlet-name>
        <url-pattern>/pages/adminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffServlet</servlet-name>
        <url-pattern>/pages/staffs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStaffServlet</servlet-name>
        <url-pattern>/pages/admins/searchStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffServlet</servlet-name>
        <url-pattern>/pages/superAdmin/addStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartServlet</servlet-name>
        <url-pattern>/pages/carts/deleteCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentReceiptServlet</servlet-name>
        <url-pattern>/payments/receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffSearchProductServlet</servlet-name>
        <url-pattern>/pages/staffs/staffSearchProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaymentCancelServlet</servlet-name>
        <url-pattern>/payments/cancel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SecurityLogServlet</servlet-name>
        <url-pattern>/pages/securityLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/pages/changePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login2FAServlet</servlet-name>
        <url-pattern>/sessions/login2fa</url-pattern>
        <url-pattern>/sessions/resendLoginOtp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register2FAServlet</servlet-name>
        <url-pattern>/sessions/resendRegisterOtp</url-pattern>
        <url-pattern>/sessions/register2fa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InternalSecurityLogServlet</servlet-name>
        <url-pattern>/pages/staffs/internalSecurityLog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionHistoryServlet</servlet-name>
        <url-pattern>/pages/transactionHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTransactionServlet</servlet-name>
        <url-pattern>/pages/staffs/viewTransaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalesServlet</servlet-name>
        <url-pattern>/pages/superAdmin/viewSales</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionServlet</servlet-name>
        <url-pattern>/payments/transaction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/pages/orders/updateOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/pages/orders/orderHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillingDetailsServlet</servlet-name>
        <url-pattern>/pages/billingDetails</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
    <context-param>
        <param-name>companyName</param-name>
        <param-value>TAR Music</param-value>
    </context-param>
    <context-param>
        <param-name>companyHotline</param-name>
        <param-value>+1800-123-4567</param-value>
    </context-param>
    <context-param>
        <param-name>companyEmail</param-name>
        <param-value>tarmusic@tar.ms.my</param-value>
    </context-param>
    <context-param>
        <param-name>companyCopyright</param-name>
        <param-value>All rights reserved.</param-value>
    </context-param>
    <filter>
        <description>JSP Filter Servlet</description>
        <filter-name>InitFilter</filter-name>
        <filter-class>controllers.InitFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>InitFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <listener>
        <description>Init Enviroment and Servlet</description>
        <listener-class>controllers.InitServlet</listener-class>
    </listener>
    <error-page>
        <error-code>400</error-code>
        <location>/pages/errors/4xxErrorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>401</error-code>
        <location>/pages/errors/unauthorizedErrorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/pages/errors/unauthorizedErrorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/pages/errors/4xxErrorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/pages/errors/4xxErrorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/pages/errors/5xxErrorPage.jsp</location>
    </error-page>
    <error-page>
        <error-code>503</error-code>
        <location>/pages/errors/5xxErrorPage.jsp</location>
    </error-page>
    <security-constraint>
        <display-name>Admin Constraints</display-name>
        <web-resource-collection>
            <web-resource-name>Admin</web-resource-name>
            <description/>
            <url-pattern>/pages/admins/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Admin</role-name>
            <role-name>SuperAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>Super Admin Constraints</display-name>
        <web-resource-collection>
            <web-resource-name>Super Admin</web-resource-name>
            <description/>
            <url-pattern>/pages/superAdmin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>SuperAdmin</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>FORM</auth-method>
        <form-login-config>
            <form-login-page>/pages/adminLogin.jsp</form-login-page>
            <form-error-page>/pages/errors/unauthorizedErrorPage.jsp</form-error-page>
        </form-login-config>
    </login-config>
    <security-role>
        <description>Admin Role</description>
        <role-name>Admin</role-name>
    </security-role>
    <security-role>
        <description>Super Admin Role

        </description>
        <role-name>SuperAdmin</role-name>
    </security-role>
    <env-entry>
        <description>For encrypt sensitive data</description>
        <env-entry-name>AES_KEY</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>cdff0db1d09606c808efdb55249060207b4cdc51eb96ba5d1692a2c2f00c2948</env-entry-value>
    </env-entry>
    <env-entry>
        <description>For send email, otp and more</description>
        <env-entry-name>SEND_MAIL_API</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Li3v31mJXIweF14+ZWfZkTcxSQJb7TMmAwEZ+6M7i729RgOydNNTIQCAV/i66gsEf5XJhOHNLAdxkws+cnpaxg==</env-entry-value>
    </env-entry>
    <env-entry>
        <description>For authorize all the api link</description>
        <env-entry-name>SECRET_KEY</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>HKQVbZrzphQMEQpjM2M79gTEGnbHXgeqBQfZCtUM8sW6AdkodnA7QXgEios1Ut9d</env-entry-value>
    </env-entry>
    <env-entry>
        <description>For getting payapl access token</description>
        <env-entry-name>ACCESS_TOKEN_API</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Li3v31mJXIweF14+ZWfZkTcxSQJb7TMmAwEZ+6M7i73lUuzolLrt4Pi4IbMh+ignWOBsqdGCgb389RMdQT3/Dw==</env-entry-value>
    </env-entry>
    <env-entry>
        <description>For creating paypal payment link</description>
        <env-entry-name>CREATE_PAYMENT_API</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Li3v31mJXIweF14+ZWfZkTcxSQJb7TMmAwEZ+6M7i71A4Ej0DbLukgHEN9QwXTZc+coqOjd/KoFSZYG5zWVZkg==</env-entry-value>
    </env-entry>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controllers.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controllers.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controllers.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>controllers.products.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/pages/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/pages/logout</url-pattern>
    </servlet-mapping>
    <env-entry>
        <description>For executing the paypal payment approved by user</description>
        <env-entry-name>EXECUTE_PAYMENT_API</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Li3v31mJXIweF14+ZWfZkTcxSQJb7TMmAwEZ+6M7i70MYhKggxAVnHs7kkW1N8MniQpbQbdxSf1XMd1h35clvw==</env-entry-value>
    </env-entry>
    <env-entry>
        <description>For get paypal payment details</description>
        <env-entry-name>GET_PAYMENT_API</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>Li3v31mJXIweF14+ZWfZkTcxSQJb7TMmAwEZ+6M7i73lUuzolLrt4Pi4IbMh+ignSTXamrwoAimHR7P5LhF4rg==</env-entry-value>
    </env-entry>
</web-app>
